<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link href=
              "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      rel="stylesheet" />
<link href=
              "https://cdn.jsdelivr.net/gh/semantic-ui-forest/forest-themes@master/dist/semantic-ui/v2/semantic.semantic-ui.min.css"
      rel="stylesheet" />
<script src=
                "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">
</script>

<script>
        const data = [
            'A', 'B', 'C', 'D', 'E', 'F',
            'G', 'H', 'I', 'J', 'K', 'L',
            'M', 'N', 'O', 'P', 'Q', 'R',
            'S', 'T', 'U', 'V', 'W', 'X',
            'Y', 'Z'
        ]


       $(function () {

            $('.menu .browse')
                .popup({
                  inline     : true,
                  hoverable  : true,
                  position   : 'right center',
                  delay: {
                    show: 100,
                    hide: 300
                  }
                })
        });
        
        function change(row, column, _this) {
            $('#select_'+row+'_'+column).html($(_this).text());
            $('#char_'+row+'_'+column).val($(_this).text());
        }

</script>
<style>
.alpha_menu {
    width: 60px;
    font-size: 24px;
}

button.item {
    font-size: 14px;
    color: blue;
    font-weight: bolder;
}

a.item {
    font-size: 32px;
    color: blue;
    font-weight: bolder;
    text-align: center;
}
</style>
<body>
<form method="post" action="/verify">
    <input type="hidden" name="choose" th:value="${choose}">
    <center>
        <h1>Fill banks</h1>
        <table border="0" cellspacing="20" cellpadding="20">
            <tr>
                <td>
                    <table border="0" cellpadding="0" style="font-size:32px">
                        <tr th:each="result, stat :${results}">
                            <td th:each="c, s :${result}" width="60" height="60"
                            >
                                <span th:if="${!c.index.trim().isEmpty()}" style="font-size: 10px; color:blue;position:absolute"><b>([[${c.index}]])</b></span>
                                <div th:id="${'char_'+stat.index+'_'+s.index}"
                                     th:name="${'char_'+stat.index+'_'+s.index}"
                                     style="border: 1px solid blue;color:blue;width:60px;height:60px;background-color: #aaa;text-align: center;font-weight: bolder;line-height: 60px;"
                                     th:if="${clue && c.char!=' ' && c.inverted}">
                                       [[${c.char}]]
                                </div>
                                <div style="border: 1px solid blue;color:blue;width:60px;height:60px;"
                                     th:if="${(!clue && c.char!=' ') || (clue && c.char!=' ' && !c.inverted)}">
                                        <input th:id="${'char_'+stat.index+'_'+s.index}"
                                               th:name="${'char_'+stat.index+'_'+s.index}"
                                               value="_"
                                               type="hidden">
                                        <div class="ui menu">
                                                <button type="button" class="browse item" style="border: 0px">
                                                    <span th:id="${'select_'+stat.index+'_'+s.index}">_</span>
                                                    <i class="dropdown icon" style="position:absolute"></i>
                                                </button>
                                                <div class="ui fluid popup">
                                                    <div class="ui four column relaxed divided grid" style="width: 300px">
                                                        <div class="column" style="width: 75px">
                                                            <div class="ui link list">
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">A</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">B</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">C</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">D</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">E</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">F</a>
                                                            </div>
                                                        </div>
                                                        <div class="column" style="width: 75px">
                                                            <div class="ui link list">
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">G</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">H</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">I</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">J</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">K</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">L</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">M</a>
                                                            </div>
                                                        </div>
                                                        <div class="column" style="width: 75px">
                                                            <div class="ui link list">
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">N</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">O</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">P</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">Q</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">R</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">S</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">T</a>
                                                            </div>
                                                        </div>
                                                        <div class="column" style="width: 75px">
                                                            <div class="ui link list">
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">U</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">V</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">W</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">X</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">Y</a>
                                                                <a class="item primary" th:onclick="|change(${stat.index},${s.index}, this)|">Z</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </td>
                        </tr>
                    </table>

                </td>
                <td>
                    <center>
                        <h2><u>Clues</u></h2>
                    </center>

                    <ol type="1">
                        <li th:each="description :${descriptions}" style="font-size:18px; word-wrap: break-word;">
                            [[${description}]]
                        </li>
                    </ol>
                </td>
            </tr>
        </table>
        <button class="ui primary button" type="submit">Submit</button>
    </center>

</form>

</body>
</html>