<!DOCTYPE html>
<html lang="en">
<body style="font-size: 42px">
    <center>
        <h1 th:if="${valid}">You are all correct</h1>
        <h1 th:if="${!valid}">You have [[${errors.size}]] error(s)</h1>
        <br/>
        <table border="0" cellpadding="0">
            <tr th:each="result, stat :${results}">
                <td th:each="c, s :${result}" width="50" height="50">
                    <div style="border: 1px solid blue;color:blue;width:50px;height:50px;background-color: #aaa" th:if="${c.char!=' ' && c.inverted}">
                        <center>
                            <b>[[${c.char}]]</b>
                        </center>
                    </div>
                    <div style="border: 1px solid blue;color:blue;width:50px;height:50px;" th:if="${c.char!=' ' && !c.inverted && !c.error}">
                        <center>
                            <b>[[${c.char}]]</b>
                        </center>
                    </div>
                    <div style="border: 1px solid blue;color:blue;width:50px;height:50px;background-color: #faa" th:if="${c.char!=' ' && !c.inverted && c.error}">
                        <center>
                            <b>[[${c.char}]]</b>
                        </center>
                    </div>
                </td>
            </tr>
        </table>
    </center>

</body>
</html>